<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
	<title>Index</title>
	<style type="text/css">
		
		body{

			background-image: url("ml.jpg");

			
			
			border-width: 100px;
		}

		label{
			margin-bottom:15%;
			margin-left:20%;
		}


	</style>



</head>
<body>
<div CLASS="BG">
		<h1 align="center"> FILTER THE CONTENT AND IDENTIFY THE SPAM </h1>
        	      <form class="grid" action="/res" method="POST">
           
          		<label for="name" >Enter you message:</label>
          		<input type="text" id="name" name="message">

		 <center><input class="file_submit" type="Submit"></center>

                  </form>
       









































































































        <br>
        <br>

        {{data1  }}  <br>
        {{data2}}

    
</div>

</body>
</html>